@import '/node_modules/bootstrap/scss/bootstrap';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

// vendors-overrides
@import "vendors-overrides/bootstrap-container-override";
@import "vendors-overrides/bootstrap-buttons-override";
@import "vendors-overrides/bootstrap-forms-override";
@import "vendors-overrides/bootstrap-cards-override";

// base
@import 'base/reset';
@import 'base/fonts';

// abstracts
@import 'abstracts/variables';

// components
@import "components/buttons";

.mt-100{
  margin-top: 100px;
}

.mt-30{
  margin-top: 30px;
}

.mb-30{
  margin-bottom: 30px;
}

.section-title{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: $color-black;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
