<app-banner [banner]="banner$ | async"></app-banner>

<section class="container mt-100">
  <app-ads-block [ad]="ad$ | async"></app-ads-block>
</section>

<section class="container mt-100">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div *ngFor="let card of cards$ | async" class="mb-30 col-6">
          <app-card [card]="card"></app-card>
        </div>
        <div class="mb-30 col-6 text-center" *ngIf="cardsError$ | async as error">
          {{ error }}
        </div>
      </div>
    </div>

    <div class="col-3">
      <app-blogs-filters (onFiltersChange)="onFiltersChange($event)"></app-blogs-filters>
    </div>
  </div>
</section>
