@use '../abstracts/variables' as variables;

.btn-orange{
  text-transform: uppercase;
  color: variables.$color-white;
  background-color: variables.$color-orange;

  &:hover{
    background-color: variables.$color-orange;
    opacity: 0.8;
    color: variables.$color-white;
  }
}

.btn-white{
  color: variables.$color-text-gray;
  display: inline-block;
  border: 1px solid variables.$color-border-gray;
  padding: 10px 18px;
  transition: all .3s;
}

