<app-banner [banner]="banner"></app-banner>

<section class="container mt-100">

  <div class="about_image">
    <img src="assets/images/about-us.jpg" alt="">
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-center about_text">
        <h4>Two-One Donec porttitor augue</h4>
        Please tell your friends about TemplateMo website. Thank you. You can browse through different categories of templates such as business, portfolio, restaurant, etc. Pellentesque quis luctus libero. Maecenas pretium molestie erat, ac tincidunt leo gravida ac. Cras ullamcorper eu ipsum eu sollicitudin. Fusce vitae commodo turpis. Integer ullamcorper purus nec justo mollis fermentum. Nunc imperdiet erat nec lacinia laoreet.

        Maecenas faucibus ullamcorper felis vitae finibus. Nullam at quam ut lacus aliquam tempor vel sed ipsum. Donec pellentesque tincidunt imperdiet. Mauris sit amet justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo. Phasellus interdum, diam commodo egestas rhoncus, turpis nisi consectetur nibh, in vehicula eros orci vel neque.
      </div>
    </div>
    <div class="col-6">
      <div class="text-center about_text">
        <h4>Two-One Donec porttitor augue</h4>
        Please tell your friends about TemplateMo website.
        Thank you. You can browse through different categories of templates such as business, portfolio, restaurant, etc.
        Pellentesque quis luctus libero.
        Maecenas pretium molestie erat, ac tincidunt leo gravida ac.
      </div>
    </div>
    <div class="col-6">
      <div class="text-center about_text">
      <h4>Two-One Donec porttitor augue</h4>
        Please tell your friends about TemplateMo website.
        Thank you. You can browse through different categories of templates such as business, portfolio, restaurant, etc.
        Pellentesque quis luctus libero.
        Maecenas pretium molestie erat, ac tincidunt leo gravida ac.
      </div>
    </div>
    <div class="col-4">
      <div class="text-center about_text">
        <h4>Two-One Donec porttitor augue</h4>
        You can browse through different categories of templates such as business, portfolio, restaurant, etc.
        Pellentesque quis luctus libero.
        Maecenas pretium molestie erat, ac tincidunt leo gravida ac.
      </div>
    </div>
    <div class="col-4">
      <div class="text-center about_text">
        <h4>Two-One Donec porttitor augue</h4>
        You can browse through different categories of templates such as business, portfolio, restaurant, etc.
        Pellentesque quis luctus libero.
        Maecenas pretium molestie erat, ac tincidunt leo gravida ac.
      </div>
    </div>
    <div class="col-4">
      <div class="text-center about_text">
        <h4>Two-One Donec porttitor augue</h4>
        You can browse through different categories of templates such as business, portfolio, restaurant, etc.
        Pellentesque quis luctus libero.
        Maecenas pretium molestie erat, ac tincidunt leo gravida ac.
      </div>
    </div>
    <div class="col-3">
      <div class="text-center about_text">
        <h4>Two-One Donec porttitor augue</h4>
        You can browse through different categories of templates such as business, portfolio, restaurant, etc.
      </div>
    </div>
    <div class="col-3">
      <div class="text-center about_text">
        <h4>Two-One Donec porttitor augue</h4>
        You can browse through different categories of templates such as business, portfolio, restaurant, etc.
      </div>
    </div>
    <div class="col-3">
      <div class="text-center about_text">
        <h4>Two-One Donec porttitor augue</h4>
        You can browse through different categories of templates such as business, portfolio, restaurant, etc.
      </div>
    </div>
    <div class="col-3">
      <div class="text-center about_text">
        <h4>Two-One Donec porttitor augue</h4>
        You can browse through different categories of templates such as business, portfolio, restaurant, etc.
      </div>
    </div>

  </div>
</section>

<section class="container">
  <div class="socials d-flex justify-content-center">
    <div>
      <a href="" class="socials_link">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="" class="socials_link">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="" class="socials_link">
        <i class="fa-brands fa-behance"></i>
      </a>
      <a href="" class="socials_link">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="" class="socials_link">
        <i class="fa-brands fa-dribbble"></i>
      </a>
    </div>
  </div>
</section>
