<app-banner [banner]="banner$ | async"></app-banner>

<section class="container mt-100">
  <ng-container *ngIf="aboutData$ | async as aboutData">
    <div class="about_image">
      <img [src]='aboutData?.image' alt="">
    </div>
    <div class="row">
      <div class="col-12">
        <div class="text-center about_text">
          <h4>
            {{ aboutData?.title }}
          </h4>
          {{ aboutData?.description }}
        </div>
      </div>
    </div>
  </ng-container>
</section>

<app-socials></app-socials>
