<app-banner [banner]="banner"></app-banner>

<section class="container mt-100">
  <ng-container *ngIf="aboutData$ | async as aboutData">
    <div class="about_image">
      <img [src]='aboutData?.image' alt="">
    </div>
    <div class="row">
      <div class="col-12">
        <div class="text-center about_text">
          <h4>
            {{ aboutData?.title }}
          </h4>
          {{ aboutData?.description }}
        </div>
      </div>
    </div>
  </ng-container>
</section>

<section class="container">
  <div class="socials d-flex justify-content-center">
    <div>
      <a href="" class="socials_link">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="" class="socials_link">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="" class="socials_link">
        <i class="fa-brands fa-behance"></i>
      </a>
      <a href="" class="socials_link">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="" class="socials_link">
        <i class="fa-brands fa-dribbble"></i>
      </a>
    </div>
  </div>
</section>
