<div class="container-fluid">
  <app-swiper [slides]="popularBlogs$ | async"></app-swiper>
</div>

<section class="container mt-100">
  <app-ads-block [ad]="ad$ | async"></app-ads-block>
</section>

<section class="container mt-100">
  <div class="row">
    <div class="col-9">
      <div *ngFor="let card of blogs$ | async" class="mb-30">
        <app-card [card]="card"></app-card>
      </div>
    </div>
    <div class="col-3">
      <app-filters (searchEmit)="onSearch($event)"></app-filters>
    </div>
  </div>
</section>
